.main{
    
    height: 100px;
    
}
.black{
    background-color: black;
}
#top{
    height: auto;
    width: 200px;
    padding-left: 20px;
    padding: auto;
    padding-bottom: 20px;
    padding-top: 0px;
}
